@(user: views.UserView)

@main("godzinki :: administracja", Some(user)) {
    <a href="@routes.Users.index" class="ui labeled icon button">
        <i class="ui users icon"></i>
        Users
    </a>
}