html {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:"Droid Arabic Kufi", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif */;
}

body {
    background: #eee;
    margin: 0;
    padding: 10px 0 0 0;
}

#login-form {
    position: fixed;
    width: 480px;
    margin: -140px 0 0 -240px;
    left: 50%;
    top: 50%;
}

#g-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 345px !important;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 0 0 350px;
}

#g-menu .link-buttons a {
    margin-bottom: 2px;
    margin-top: 2px;
}

.#admin_users