@(elements: helper.FieldElements)

<div class="field @if(elements.hasErrors) {error}">
    <label for="@elements.id">@elements.label(elements.lang)</label>

    <div class="ui input ">
        @elements.input
    </div>
    @if(elements.hasErrors){
    <div class="ui red pointing above ui label">@elements.errors(elements.lang).mkString(", ")</div>
    }
    @if(!elements.infos.isEmpty){
    <div class="ui blue pointing above ui label">@elements.infos(elements.lang).mkString(", ")</div>
    }
</div>
