@(user: views.UserView, state: models.works.WorkState, users: Map[String, models.users.UserData])

@main("godzinki :: użyszkodnicy", Some(user)) {
    <div class="ui items" id="admin_users">
    @for((l, u) <- users){
        <div class="item">
            <div class="content">
                <div class="meta">@u.email</div>
                <div class="name">@u.name</div>
                <div class="description">Tutaj dłuższy opis</div>
            </div>
            <div class="extra">
                <a href="@routes.Users.edit(l)">Edit</a> | Delete
            </div>
        </div>
    }
    </div>
    <a href="@routes.Users.newUser" class="ui green button">Nowy użytkownik</a>
}