@(user: views.UserView, states: List[views.UserView])

@import models.users.UserData
@import models.works.WorkState

@main(s"godzinki :: ${user.profile.name}", Some(user)) {
    @for(u <- states) {
    <div class="ui horizontal relaxed list">
        <div class="item">
            @u.state match {
            case models.works.StartedWork(id, stamp) => {
                <i class="huge green user icon"></i>
            }
            case _ => {
                <i class="huge black user icon"></i>
            }
            }

            <div class="content">
                <div class="header">@u.profile.name</div>
                <div class="description">...</div>
            </div>
        </div>
    </div>
    }

}
