@(loginForm: Form[controllers.Application.LoginData])

@main("godzinki :: zaloguj się", None) {

        @helper.form(action=routes.Application.authenticate, args = 'class -> "ui form segment", 'id -> "login-form") {
            <div class="inline field">
                <label>Login</label>
                <div class="ui icon input">
                    <input type="text" placeholder="Użytkownik..." name="login">
                    <i class="user icon"></i>
                </div>
            </div>
            <div class="inline field">
                <label>Hasło</label>
                <div class="ui icon input">
                    <input type="password" placeholder="Podaj hasło..." name="password">
                    <i class="lock icon"></i>
                </div>
            </div>
            <input type="submit" class="ui green submit button" value="Zaloguj"/>
        }
}